.fadeout-enter {
  opacity: 0;
}
.fadeout-enter-active {
  opacity: 1;
  transition: opacity 0.35s;
}
.fadeout-exit {
  opacity: 1;
}
.fadeout-exit-active {
  opacity: 0;
  transition: opacity 0.35s;
}

.fadeoutLoading-enter {
  opacity: 0;
}
.fadeoutLoading-enter-active {
  opacity: 1;
  transition: opacity 0.35s;
}
.fadeoutLoading-exit {
  opacity: 1;
}
.fadeoutLoading-exit-active {
  opacity: 0;
  transition: opacity 0.35s;
  transition-delay: 0.5s;
}

.comeFromBottom-enter {
  transform: translateY(100%);
}
.comeFromBottom-enter-active {
  transform: translateY(0);
  transition: 0.35s;
}
.comeFromBottom-exit {
  transform: translateY(0);
}
.comeFromBottom-exit-active {
  transform: translateY(100%);
  transition: 0.35s;
}

.comeFromTop-enter {
  transform: translateY(-100%);
}
.comeFromTop-enter-active {
  transform: translateY(0);
  transition: 0.35s;
}
.comeFromTop-exit {
  transform: translateY(0);
}
.comeFromTop-exit-active {
  transform: translateY(-100%);
  transition: 0.35s;
}

$animationFloating: floating 3s cubic-bezier(0.65, 0, 0.35, 1) infinite;
$animationLeftCard: leftCard 0.5s forwards;
$animationRightCard: rightCard 0.5s forwards;
$animationPulsing: pulsing 4s infinite cubic-bezier(0.12, 0, 0.39, 0);

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulsing {
  0% {
    background-color: darken($yellowColor, 30);
  }
  50% {
    background-color: darken($yellowColor, 35);
  }
  100% {
    background-color: darken($yellowColor, 30);
  }
}

@keyframes leftCard {
  0% {
    transform: translateX(0) rotate(360deg);
  }
  100% {
    transform: translateX(50%) rotate(345deg);
  }
}

@keyframes rightCard {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
