$mainColor: rgb(238, 235, 43);
$greenColor: rgb(77, 172, 42);
$redColor: rgb(219, 81, 81);
$yellowColor: rgb(212, 188, 28);
$blueColor: rgb(37, 55, 136);
$yellowDark: rgb(50, 50, 0);
$bgColor: rgb(8, 8, 8);
