.players {
  @include breakpoint(750px) {
    position: relative;
    width: 100%;
    margin-left: auto;
    height: calc(100vh - 300px);
    overflow-y: auto;
  }
}

.playerContainer {
  position: absolute;

  .turn {
    background: rgb(50, 50, 0);
  }
}

.transparent {
  opacity: 0.65;
}

.blurred {
  opacity: 0.95;
  filter: blur(2px);
}

.playerContainer:nth-of-type(1) {
  bottom: -50px;
  right: 50%;
  margin-right: -165px;

  @include breakpoint(1350px) {
    bottom: -25px;
    margin-right: -130px;
  }
  @include breakpoint(1000px) {
    margin-right: -110px;
  }
  @include breakpoint(750px) {
    right: 5px;
    margin-right: 0;
    top: 10px;
  }

  .userTokens {
    top: -60px;
    left: 50%;
    margin-left: -40px;

    @include breakpoint(750px) {
      left: -115px;
      right: auto;
      margin-right: 0;
      margin-left: 0;
      top: 10px;
    }
  }
}

.playerContainer:nth-of-type(2) {
  bottom: 35px;
  left: -150px;
  right: auto;

  @include breakpoint(1350px) {
    left: -50px;
  }

  @include breakpoint(750px) {
    left: auto;
    right: 5px;
    top: 90px;
  }

  .avatar {
    left: auto;
    right: -50px;
    @include breakpoint(1000px) {
      right: -25px;
    }
    @include breakpoint(750px) {
      right: auto;
      left: -25px;
    }
  }

  .player {
    padding: 15px 75px 15px 15px;
    @include breakpoint(1350px) {
      padding: 10px 50px 10px 10px;
    }
    @include breakpoint(750px) {
      padding: 10px 10px 10px 50px;
    }
  }

  .cards {
    position: absolute;
    left: 0;
    @include breakpoint(1350px) {
      margin-left: 15px;
    }
    @include breakpoint(1000px) {
      margin-left: 10px;
    }
    @include breakpoint(750px) {
      position: initial;
      margin-left: 25px;
    }
  }

  .info {
    margin-left: 125px;
    @include breakpoint(1350px) {
      margin-left: 85px;
    }
    @include breakpoint(1000px) {
      margin-left: 70px;
    }
    @include breakpoint(750px) {
      margin-left: 15px;
    }
  }

  .userTokens {
    top: -20px;
    right: -145px;

    @include breakpoint(750px) {
      left: -90px;
      right: auto;
      margin-right: 0;
      margin-left: 0;
      top: 10px;
    }
  }
}

.playerContainer:nth-of-type(3) {
  top: -60px;
  left: -35px;
  right: auto;

  @include breakpoint(1350px) {
    top: 0;
    left: -50px;
  }
  @include breakpoint(750px) {
    left: auto;
    right: 5px;
    top: 170px;
  }

  .avatar {
    left: auto;
    right: -50px;

    @include breakpoint(1000px) {
      right: -25px;
    }
    @include breakpoint(750px) {
      right: auto;
      left: -25px;
    }
  }

  .player {
    padding: 15px 75px 15px 15px;
    @include breakpoint(1350px) {
      padding: 10px 50px 10px 10px;
    }
    @include breakpoint(750px) {
      padding: 10px 10px 10px 50px;
    }
  }

  .cards {
    position: absolute;
    left: 0;
    @include breakpoint(1350px) {
      margin-left: 15px;
    }
    @include breakpoint(1000px) {
      margin-left: 10px;
    }
    @include breakpoint(750px) {
      position: initial;
      margin-left: 25px;
    }
  }

  .info {
    margin-left: 125px;
    @include breakpoint(1350px) {
      margin-left: 85px;
    }
    @include breakpoint(1000px) {
      margin-left: 70px;
    }
    @include breakpoint(750px) {
      margin-left: 15px;
    }
  }

  .userTokens {
    bottom: -60px;
    right: -95px;

    @include breakpoint(750px) {
      left: -90px;
      right: auto;
      bottom: auto;
      margin-right: 0;
      margin-left: 0;
      top: 10px;
    }
  }
}

.playerContainer:nth-of-type(4) {
  top: -115px;
  right: 50%;
  margin-right: -165px;

  @include breakpoint(1350px) {
    top: -50px;
    margin-right: -130px;
  }
  @include breakpoint(1000px) {
    margin-right: -110px;
  }

  @include breakpoint(750px) {
    right: 5px;
    margin-right: 0;
    top: 250px;
  }

  .userTokens {
    bottom: -80px;
    left: 50%;
    margin-left: -40px;

    @include breakpoint(750px) {
      left: -115px;
      right: auto;
      bottom: auto;
      margin-right: 0;
      margin-left: 0;
      top: 10px;
    }
  }
}

.playerContainer:nth-of-type(5) {
  top: -60px;
  right: -35px;
  @include breakpoint(1350px) {
    top: 0;
    right: -50px;
  }
  @include breakpoint(750px) {
    right: 5px;
    top: 330px;
  }

  .userTokens {
    bottom: -60px;
    left: -95px;

    @include breakpoint(750px) {
      top: 10px;
      left: -115px;
      right: auto;
      bottom: auto;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.playerContainer:nth-of-type(6) {
  bottom: 35px;
  right: -150px;

  @include breakpoint(1350px) {
    right: -50px;
  }
  @include breakpoint(750px) {
    right: 5px;
    top: 410px;
  }

  .userTokens {
    top: -20px;
    left: -145px;

    @include breakpoint(750px) {
      top: 10px;
      left: -115px;
      right: auto;
      bottom: auto;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.player {
  display: flex;
  align-items: center;
  position: relative;
  width: 200px;

  // background: linear-gradient(90deg, rgb(53, 42, 32) 0%, rgb(45, 45, 45) 100%);
  background: rgb(35, 35, 35);
  padding: 15px 15px 15px 75px;
  border-radius: 5px;

  @include breakpoint(1350px) {
    width: 150px;
    padding: 10px 10px 10px 50px;
  }
  @include breakpoint(1000px) {
    padding: 10px 10px 10px 25px;
  }
  .avatar {
    position: absolute;
    left: -50px;
    width: 128px;
    height: 128px;
    border-radius: 50%;

    @include breakpoint(1350px) {
      width: 96px;
      height: 96px;
    }

    @include breakpoint(1000px) {
      width: 80px;
      height: 80px;
    }
  }

  .cards {
    display: flex;
    margin-left: 25px;

    @include breakpoint(1350px) {
      margin-left: 15px;
    }
    @include breakpoint(1000px) {
      margin-left: 10px;
    }
    @include breakpoint(750px) {
      margin-left: 25px;
    }

    .card {
      height: 49px;
      width: 35px;
      border-radius: 5px;

      @include breakpoint(1350px) {
        height: 35px;
        width: 25px;
        margin: 0 3px;

        p {
          font-size: 1.15em;
          margin-left: 1px;
          margin-top: -3px;
        }

        .cardImg {
          width: 16px;
          height: 16px;
          bottom: 0px;
          right: 0px;
        }
      }
      @include breakpoint(1000px) {
        height: 30px;
        width: 21px;
        margin: 0 2px;

        p {
          font-size: 1em;
          margin-left: 1px;
          margin-top: -3px;
        }
      }
    }
  }

  .userTokens {
    position: absolute;
    display: flex;
    color: white;
    font-weight: 700;
    align-items: center;
    width: 80px;

    @include breakpoint(750px) {
      width: 60px;
      font-size: 0.8em;
    }

    .chipImg {
      width: 32px;
      height: 32px;
      margin-right: 10px;

      @include breakpoint(750px) {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }
  }

  .info {
    margin-left: 20px;
    color: white;

    @include breakpoint(1350px) {
      margin-left: 15px;
    }

    p {
      font-size: 14px;
      margin: 0;

      @include breakpoint(1350px) {
        font-size: 12px;
      }
      @include breakpoint(1350px) {
        font-size: 10px;
      }
    }

    .raise {
      color: $greenColor;
    }
    .call {
      color: $yellowColor;
    }
    .fold {
      color: $redColor;
    }

    .nick {
      color: rgb(220, 220, 220);
      font-weight: 500;
      margin-bottom: 5px;
      max-width: 63px;
      text-overflow: ellipsis;
      overflow: hidden;
      @include breakpoint(1350px) {
        margin-bottom: 2px;
      }
    }
    .tokens {
      font-weight: 700;
      margin-bottom: 5px;
      @include breakpoint(1350px) {
        margin-bottom: 2px;
      }
    }
    .action {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.75em;
    }
  }
}
