@import "colors";
@import "fonts";
@import "mixins";
@import "animations";
@import "card";
@import "input";
@import "navbar";
@import "loading";
@import "main";
@import "room";
@import "players";
@import "nickname";

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

button {
  font-family: $mainFont;
  font-weight: 700;
  cursor: pointer;
}

input {
  font-family: $mainFont;
  font-weight: 700;
}
