@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.fadeout-enter {
  opacity: 0;
}

.fadeout-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.fadeout-exit {
  opacity: 1;
}

.fadeout-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.fadeoutLoading-enter {
  opacity: 0;
}

.fadeoutLoading-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.fadeoutLoading-exit {
  opacity: 1;
}

.fadeoutLoading-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.comeFromBottom-enter {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.comeFromBottom-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.comeFromBottom-exit {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.comeFromBottom-exit-active {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.comeFromTop-enter {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.comeFromTop-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.comeFromTop-exit {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.comeFromTop-exit-active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes pulsing {
  0% {
    background-color: #4d440a;
  }
  50% {
    background-color: #363007;
  }
  100% {
    background-color: #4d440a;
  }
}

@keyframes pulsing {
  0% {
    background-color: #4d440a;
  }
  50% {
    background-color: #363007;
  }
  100% {
    background-color: #4d440a;
  }
}

@-webkit-keyframes leftCard {
  0% {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
  }
  100% {
    -webkit-transform: translateX(50%) rotate(345deg);
            transform: translateX(50%) rotate(345deg);
  }
}

@keyframes leftCard {
  0% {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
  }
  100% {
    -webkit-transform: translateX(50%) rotate(345deg);
            transform: translateX(50%) rotate(345deg);
  }
}

@-webkit-keyframes rightCard {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes rightCard {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.card {
  height: 70px;
  width: 50px;
  border-radius: 5px;
  background-color: #080808;
  margin: 0 5px;
  position: relative;
}

.card p {
  font-weight: 800;
  font-size: 1.25em;
  margin: -2px auto 0 3px;
}

.card .cardImg {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.card .red {
  fill: #db5151;
  color: #db5151;
}

.card .green {
  fill: #4dac2a;
  color: #4dac2a;
}

.card .blue {
  fill: #253788;
  color: #253788;
}

.card .black {
  fill: black;
  color: black;
}

.covered {
  border: 2px solid #eeeb2b;
}

.uncovered {
  background-color: white;
  border: 2px solid transparent;
}

.globalInput {
  border: 0;
  background: #222222;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 1.4em;
  padding: 0 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 100;
}

@media only screen and (max-width: 550px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navbar .logoPic {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  position: absolute;
  top: 10px;
  left: 25px;
  cursor: pointer;
}

.navbar .logo {
  font-size: 1em;
  color: #eeeb2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  margin-left: calc(110px);
}

@media only screen and (max-width: 550px) {
  .navbar .logo {
    margin-top: 13px;
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 450px) {
  .navbar .logo {
    display: none;
  }
}

.navbar .logo h1 {
  margin: 15px 0 0 0;
}

.navbar .login {
  position: absolute;
  right: 25px;
  top: 24px;
}

.navbar .login button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #232323;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px 25px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navbar .login button .click {
  height: 18px;
  fill: white;
  margin-left: 5px;
}

.navbar .login button:hover {
  background: #323232;
}

.navbar .clipboard {
  position: absolute;
  padding: 25px;
  background-color: #2d2d2d;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  left: 50%;
  margin-left: -115px;
}

.bigLoading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #080808;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallLoading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bigLoading .card,
.smallLoading .card {
  height: 70px;
  width: 50px;
  border-radius: 10px;
  border: 3px solid #eeeb2b;
  background-color: #080808;
}

.bigLoading .leftCard,
.smallLoading .leftCard {
  margin-right: 15px;
}

.bigLoading .rightCard,
.smallLoading .rightCard {
  margin-left: 15px;
}

.bigLoading .floating,
.smallLoading .floating {
  -webkit-animation: floating 3s cubic-bezier(0.65, 0, 0.35, 1) infinite;
          animation: floating 3s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

.bigLoading .leftCardGo,
.smallLoading .leftCardGo {
  -webkit-animation: leftCard 0.5s forwards;
          animation: leftCard 0.5s forwards;
}

.bigLoading .rightCardGo,
.smallLoading .rightCardGo {
  -webkit-animation: rightCard 0.5s forwards;
          animation: rightCard 0.5s forwards;
}

.main {
  height: 100vh;
  min-height: 550px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.main .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 550px;
  z-index: -1;
  background-color: #080808;
}

.main .background .bgPic {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100vh;
  min-height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
}

@media only screen and (max-width: 1200px) {
  .main .background .bgPic {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .main .background .bgPic {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .main .background .bgPic {
    right: 0;
    bottom: 0;
    height: 40vh;
    min-height: 0;
    width: 45vmin;
  }
}

.main .background .bgSmoke {
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}

.main .repeatText {
  position: absolute;
  top: 90px;
  left: 5%;
  color: #eeeb2b;
  opacity: 0.05;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}

.main .repeatText p {
  margin: 0;
}

.main .content {
  position: absolute;
  width: 475px;
  top: 25vh;
  left: 10%;
  color: white;
}

@media only screen and (max-width: 700px) {
  .main .content {
    width: 80%;
    text-align: center;
  }
}

.main .content h2 {
  font-size: 3em;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  .main .content h2 {
    font-size: 2em;
  }
}

.main .content h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

@media only screen and (max-width: 400px) {
  .main .content h3 {
    font-size: 1em;
  }
}

.main .content input {
  margin: 5px 0;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 400px) {
  .main .content input {
    width: calc(100% - 20px);
  }
}

.main .content button {
  margin-top: 25px;
  background: #eeeb2b;
  color: black;
  border: 0;
  height: 60px;
  width: 300px;
  font-size: 2em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

@media only screen and (max-width: 400px) {
  .main .content button {
    width: 100%;
    font-size: 1.75em;
  }
}

.main .content button:hover {
  background: #d5d211;
}

.main .content .smallLoading {
  margin-top: 50px;
  width: 300px;
}

@media only screen and (max-width: 700px) {
  .main .content .smallLoading {
    margin: 50px auto 0;
  }
}

@media only screen and (max-width: 400px) {
  .main .content .smallLoading {
    width: 100%;
  }
}

.main .lines {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 500px;
  height: 300px;
  overflow: hidden;
  z-index: -1;
}

@media only screen and (max-width: 700px) {
  .main .lines {
    display: none;
  }
}

.main .lines .line {
  width: 750px;
  height: 20px;
  background-color: #eeeb2b;
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main .lines .line1 {
  margin-top: 50px;
  margin-left: -400px;
}

.main .lines .line2 {
  margin-top: 50px;
  margin-left: -400px;
}

.main .lines .line3 {
  margin-top: 50px;
  margin-left: -400px;
}

.winner {
  background-color: #2d2d2d;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  padding: 25px;
}

@media only screen and (max-width: 750px) {
  .winner {
    left: 50%;
    margin-left: -150px;
  }
}

.winner h1,
.winner h2 {
  margin: 0;
}

.winner h1 {
  font-size: 1.35em;
}

.winner h2 {
  font-size: 1em;
}

.room {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, #232323 0%, #080808 100%);
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 675px;
}

@media only screen and (max-width: 1350px) {
  .room {
    min-height: 600px;
  }
}

@media only screen and (max-width: 750px) {
  .room {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    min-height: 0;
  }
}

.room .table {
  position: relative;
  width: 75%;
  top: clamp(125px, 25vh, 250px);
  height: 50vh;
  min-height: 300px;
  background-color: #2266af;
  border-radius: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .room .table {
    width: 95%;
  }
}

.room .table .tableCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 750px) {
  .room .table .tableCards .card {
    width: 35px;
    height: 49px;
  }
}

.room .table .tableCards .card p {
  font-size: 1.65em;
}

@media only screen and (max-width: 750px) {
  .room .table .tableCards .card p {
    font-size: 1.25em;
  }
}

.room .table .tableCards .card .cardImg {
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 750px) {
  .room .table .tableCards .card .cardImg {
    width: 20px;
    height: 20px;
  }
}

.room .table .tableChips {
  color: white;
  text-align: center;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
  .room .table .tableChips {
    margin-top: -75px;
    margin-bottom: 0;
  }
}

.room .table .tableChips p {
  margin-left: 10px;
}

.room .table .tableChips .chipImg {
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 750px) {
  .room .table {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 120px;
    height: auto;
    min-height: 0;
  }
}

@media only screen and (max-width: 750px) {
  .players {
    position: relative;
    width: 100%;
    margin-left: auto;
    height: calc(100vh - 300px);
    overflow-y: auto;
  }
}

.playerContainer {
  position: absolute;
}

.playerContainer .turn {
  -webkit-animation: pulsing 4s infinite cubic-bezier(0.12, 0, 0.39, 0);
          animation: pulsing 4s infinite cubic-bezier(0.12, 0, 0.39, 0);
}

.transparent {
  opacity: 0.65;
}

.blurred {
  opacity: 0.95;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 200px;
  background: #232323;
  padding: 15px 15px 15px 75px;
  border-radius: 5px;
}

@media only screen and (max-width: 1350px) {
  .player {
    width: 150px;
    padding: 10px 10px 10px 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .player {
    padding: 10px 10px 10px 25px;
  }
}

.player .avatar {
  position: absolute;
  left: -50px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

@media only screen and (max-width: 1350px) {
  .player .avatar {
    width: 96px;
    height: 96px;
  }
}

@media only screen and (max-width: 1000px) {
  .player .avatar {
    width: 80px;
    height: 80px;
  }
}

.player .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}

@media only screen and (max-width: 1350px) {
  .player .cards {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .player .cards {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .player .cards {
    margin-left: 25px;
  }
}

.player .cards .card {
  height: 49px;
  width: 35px;
  border-radius: 5px;
}

@media only screen and (max-width: 1350px) {
  .player .cards .card {
    height: 35px;
    width: 25px;
    margin: 0 3px;
  }
  .player .cards .card p {
    font-size: 1.15em;
    margin-left: 1px;
    margin-top: -3px;
  }
  .player .cards .card .cardImg {
    width: 16px;
    height: 16px;
    bottom: 0px;
    right: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .player .cards .card {
    height: 30px;
    width: 21px;
    margin: 0 2px;
  }
  .player .cards .card p {
    font-size: 1em;
    margin-left: 1px;
    margin-top: -3px;
  }
}

.player .userTokens {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
}

@media only screen and (max-width: 750px) {
  .player .userTokens {
    width: 60px;
    font-size: 0.8em;
  }
}

.player .userTokens .chipImg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

@media only screen and (max-width: 750px) {
  .player .userTokens .chipImg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.player .info {
  margin-left: 20px;
  color: white;
}

@media only screen and (max-width: 1350px) {
  .player .info {
    margin-left: 15px;
  }
}

.player .info p {
  font-size: 14px;
  margin: 0;
}

@media only screen and (max-width: 1350px) {
  .player .info p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1350px) {
  .player .info p {
    font-size: 10px;
  }
}

.player .info .raise {
  color: #4dac2a;
}

.player .info .call {
  color: #d4bc1c;
}

.player .info .fold {
  color: #db5151;
}

.player .info .nick {
  color: gainsboro;
  font-weight: 500;
  margin-bottom: 5px;
  max-width: 63px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 1350px) {
  .player .info .nick {
    margin-bottom: 2px;
  }
}

.player .info .tokens {
  font-weight: 700;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1350px) {
  .player .info .tokens {
    margin-bottom: 2px;
  }
}

.player .info .action {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75em;
}

.nickScreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.nickScreen .avatar img {
  display: block;
  height: 128px;
  width: 128px;
  margin: 0 auto 15px auto;
}

.nickScreen .content {
  width: 20%;
  min-width: 250px;
  height: 40vh;
  min-height: 400px;
  margin: 15vh auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  background-color: #080808;
  border-radius: 5px;
}

@media only screen and (max-width: 400px) {
  .nickScreen .content {
    width: calc(90% - 50px);
    min-width: 0;
  }
}

.nickScreen .content label {
  color: white;
  margin-bottom: 10px;
  font-weight: 600;
}

.nickScreen .content input {
  margin-bottom: 25px;
}

.nickScreen .content button {
  background: #eeeb2b;
  color: black;
  border: 0;
  height: 40px;
  width: 200px;
  margin: auto auto 0 auto;
  font-size: 1.25em;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.nickScreen .content button:hover {
  background: #d5d211;
}

.nickScreen .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.nickScreen .content .buttons button {
  width: 50px;
  height: 35px;
}

.nickScreen .content .buttons .right {
  display: block;
  margin-left: auto;
}

.nickScreen .content .error {
  color: #db5151;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.nickScreen .content .errorColor {
  color: #db5151;
}

.userPanel {
  position: absolute;
  width: 600px;
  bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userPanel .content {
  position: relative;
}

.userPanel .waiting {
  background-color: rgba(20, 20, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.userPanel .folded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #651515;
  border-radius: 5px;
}

.userPanel .folded h1 {
  color: #db5151;
  text-transform: uppercase;
  font-weight: 800;
}

.userPanel .won {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d1d07;
  border-radius: 5px;
}

.userPanel .won h1 {
  color: #4dac2a;
  text-transform: uppercase;
  font-weight: 800;
}

.userPanel .ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #651515;
  border-radius: 5px;
  border: 0;
  color: #db5151;
  font-size: 36px;
}

.userPanel .notready {
  background-color: #16310c;
  color: #4dac2a;
}

@media only screen and (max-width: 650px) {
  .userPanel {
    width: 90%;
  }
}

.userPanel .stakes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
}

.userPanel .stakes button {
  width: 96px;
  height: 25px;
  background-color: #3c3c3c;
  color: #787878;
  border: 0;
  margin: 3px 2px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 650px) {
  .userPanel .stakes button {
    width: calc(16.5% - 3px);
    font-size: 0.55em;
  }
}

.userPanel .stakes button:hover {
  background: #494949;
}

.userPanel .stakes input {
  width: 196px;
  height: 25px;
  padding: 0;
  border: 0;
  border-radius: 3px;
  margin: 3px 2px;
  text-align: center;
  background-color: #3c3c3c;
  color: #787878;
}

@media only screen and (max-width: 650px) {
  .userPanel .stakes input {
    width: calc(33% - 2px);
    font-size: 0.55em;
  }
}

.userPanel .stakes input:focus {
  outline: none;
  color: white;
}

.userPanel .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userPanel .actions .red {
  background: #db5151;
}

.userPanel .actions .red:hover {
  background: #e47b7b;
}

.userPanel .actions .yellow {
  background: #d4bc1c;
}

.userPanel .actions .yellow:hover {
  background: #e5d03e;
}

.userPanel .actions .green {
  background: #4dac2a;
}

.userPanel .actions .green:hover {
  background: #62cf3a;
}

.userPanel .actions button {
  width: 200px;
  height: 50px;
  margin: 0 2px;
  border: 0;
  border-radius: 5px;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 650px) {
  .userPanel .actions button {
    width: calc(33.3% - 2px);
  }
}

.playerContainer:nth-of-type(1) {
  bottom: -50px;
  right: 50%;
  margin-right: -165px;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(1) {
    bottom: -25px;
    margin-right: -130px;
  }
}

@media only screen and (max-width: 1000px) {
  .playerContainer:nth-of-type(1) {
    margin-right: -110px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(1) {
    right: 5px;
    margin-right: 0;
    top: 10px;
  }
}

.playerContainer:nth-of-type(1) .userTokens {
  top: -60px;
  left: 50%;
  margin-left: -40px;
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(1) .userTokens {
    left: -115px;
    right: auto;
    margin-right: 0;
    margin-left: 0;
    top: 10px;
  }
}

.playerContainer:nth-of-type(2) {
  bottom: 35px;
  left: -150px;
  right: auto;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(2) {
    left: -50px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(2) {
    left: auto;
    right: 5px;
    top: 90px;
  }
}

.playerContainer:nth-of-type(2) .avatar {
  left: auto;
  right: -50px;
}

@media only screen and (max-width: 1000px) {
  .playerContainer:nth-of-type(2) .avatar {
    right: -25px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(2) .avatar {
    right: auto;
    left: -25px;
  }
}

.playerContainer:nth-of-type(2) .player {
  padding: 15px 75px 15px 15px;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(2) .player {
    padding: 10px 50px 10px 10px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(2) .player {
    padding: 10px 10px 10px 50px;
  }
}

.playerContainer:nth-of-type(2) .cards {
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(2) .cards {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .playerContainer:nth-of-type(2) .cards {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(2) .cards {
    position: initial;
    margin-left: 25px;
  }
}

.playerContainer:nth-of-type(2) .info {
  margin-left: 125px;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(2) .info {
    margin-left: 85px;
  }
}

@media only screen and (max-width: 1000px) {
  .playerContainer:nth-of-type(2) .info {
    margin-left: 70px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(2) .info {
    margin-left: 15px;
  }
}

.playerContainer:nth-of-type(2) .userTokens {
  top: -20px;
  right: -145px;
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(2) .userTokens {
    left: -90px;
    right: auto;
    margin-right: 0;
    margin-left: 0;
    top: 10px;
  }
}

.playerContainer:nth-of-type(3) {
  top: -60px;
  left: -35px;
  right: auto;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(3) {
    top: 0;
    left: -50px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(3) {
    left: auto;
    right: 5px;
    top: 170px;
  }
}

.playerContainer:nth-of-type(3) .avatar {
  left: auto;
  right: -50px;
}

@media only screen and (max-width: 1000px) {
  .playerContainer:nth-of-type(3) .avatar {
    right: -25px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(3) .avatar {
    right: auto;
    left: -25px;
  }
}

.playerContainer:nth-of-type(3) .player {
  padding: 15px 75px 15px 15px;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(3) .player {
    padding: 10px 50px 10px 10px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(3) .player {
    padding: 10px 10px 10px 50px;
  }
}

.playerContainer:nth-of-type(3) .cards {
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(3) .cards {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .playerContainer:nth-of-type(3) .cards {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(3) .cards {
    position: initial;
    margin-left: 25px;
  }
}

.playerContainer:nth-of-type(3) .info {
  margin-left: 125px;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(3) .info {
    margin-left: 85px;
  }
}

@media only screen and (max-width: 1000px) {
  .playerContainer:nth-of-type(3) .info {
    margin-left: 70px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(3) .info {
    margin-left: 15px;
  }
}

.playerContainer:nth-of-type(3) .userTokens {
  bottom: -60px;
  right: -95px;
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(3) .userTokens {
    left: -90px;
    right: auto;
    bottom: auto;
    margin-right: 0;
    margin-left: 0;
    top: 10px;
  }
}

.playerContainer:nth-of-type(4) {
  top: -115px;
  right: 50%;
  margin-right: -165px;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(4) {
    top: -50px;
    margin-right: -130px;
  }
}

@media only screen and (max-width: 1000px) {
  .playerContainer:nth-of-type(4) {
    margin-right: -110px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(4) {
    right: 5px;
    margin-right: 0;
    top: 250px;
  }
}

.playerContainer:nth-of-type(4) .userTokens {
  bottom: -80px;
  left: 50%;
  margin-left: -40px;
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(4) .userTokens {
    left: -115px;
    right: auto;
    bottom: auto;
    margin-right: 0;
    margin-left: 0;
    top: 10px;
  }
}

.playerContainer:nth-of-type(5) {
  top: -60px;
  right: -35px;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(5) {
    top: 0;
    right: -50px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(5) {
    right: 5px;
    top: 330px;
  }
}

.playerContainer:nth-of-type(5) .userTokens {
  bottom: -60px;
  left: -95px;
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(5) .userTokens {
    top: 10px;
    left: -115px;
    right: auto;
    bottom: auto;
    margin-right: 0;
    margin-left: 0;
  }
}

.playerContainer:nth-of-type(6) {
  bottom: 35px;
  right: -150px;
}

@media only screen and (max-width: 1350px) {
  .playerContainer:nth-of-type(6) {
    right: -50px;
  }
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(6) {
    right: 5px;
    top: 410px;
  }
}

.playerContainer:nth-of-type(6) .userTokens {
  top: -20px;
  left: -145px;
}

@media only screen and (max-width: 750px) {
  .playerContainer:nth-of-type(6) .userTokens {
    top: 10px;
    left: -115px;
    right: auto;
    bottom: auto;
    margin-right: 0;
    margin-left: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

input {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */